pre {
  margin: 20px 0 0;

  + p {
    margin-top: 20px;
  }
}

.hljs {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  background: #fff;
}

.hljs-subst {
  color: #58727e;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #4fc08d;
}

.hljs-comment,
.hljs-quote {
  color: #999;
}

.hljs-params,
.hljs-keyword,
.hljs-attribute {
  color: #8080ff;
}

.hljs-deletion,
.hljs-variable,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #eb6f6f;
}

.hljs-attr,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #4994df;
}

.hljs-emphasis {
  font-style: italic;
}
